@import url('https://fonts.googlepis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap'); 

*{
   margin: 0;
   padding: 0;
}
#root{
   padding: 0px;
   margin: 0px;
   width: 100%;
   height:900px;
   background-color:gray;

   
}
   
#sidebar1{
   background-color: paleturquoise;
   width:100px;
   flex:10px;
   position: relative;
   align-items: center;
   justify-content: center;
   min-height: 900px;
   float: left;
    margin-top: -80px; 
}
ul li{
   padding: 12px 0;
   position: relative;
   text-decoration: none;
   list-style-type: none;
   top: 335px;
   left: 69px;
   
}
ul li a{

   font-size: 16px;
   font-weight: 600;
   
   color: black;
   transition: 0.35 ease; 
   
}
.sidebar1 li a:hover,
.sidebar1 li a.active{
   color: #7735d5;
}

.sidebar1 li a.active::after,
.left li a:hover::after{
   content: "";
   width: 50px;
   height: 3px;
   background: #7735d5;
   position: absolute;
   bottom: 5px;
   left:-10px;
}
.first_div{
   width: 1333px;
   height: 60px;
   position: relative;
   left: 10px;
   top: 49px;
   background-color: white;
   box-sizing: border-box;
   margin: 20px 95px;
}
.first{
   position: relative;
   left: 20px;
   top: 15px;
   font-size:22px;
}
.second{
   position: absolute;
   top: 16px;
   right: 241px;
   font-size: 22px;
}

.third{
   position: absolute;
   right: 20px;
   top: 17px;
   color: rgb(99, 10, 117);
   float: right;
   border-color: rgb(7, 7, 10);
   background-color: white;
   border-radius: 5px;
   font-size: 20px;
   font-weight: bold;
}
.second_div{
   position: absolute;
   left: 10px;;
   top:120px;
   width: 655px;
   height: 230px;
   background-color: white;
   margin:20px 95px;
}
.first3{
   position: absolute;
   left: 20px;
   font-size: 25   px;
}
.second3{
   position: absolute;
   float: right;
   top: 10px;
   right: 20px;
   font-size: 15px;
   box-shadow: 1px 1px 1px 2px rgb(218 212 212);
}
.third3{
   position: relative;
   top: 120px;
   left: 20px;
   font-size: 17px;
}
.third4{
   position: relative;
   top:70px;
   left: 250px;
   font-size: 17px;
}
.third5{
   position: relative;
   float: right;
   right: 100px;
   bottom:-5px;
   font-size: 17px;
}
.button2{
   position: relative;
   left: 20px;
   bottom: -109px;
   font-size: 20px;
   font-weight: bold;
   background-color: white;
   color: rgb(152, 15, 157);
   border-radius: 5px;
   border-color: rgb(223, 6, 136);
}
.third_div{
   position: absolute;
   left: 30px;
   top:120px;
   width: 665px;
   height: 230px;
   background-color: white;
   margin:20px 743px;
}
.img1{
   position: relative;
   top: 24px;
   left: 20px;
   width: 300px;
   height: 200px;
}
.bitcoin1{
   position:relative;
   top:16px;
   font-size: 20px;
   float: right;
   left: -140px;

}
.bitcoin2{
   position:relative;
   top:90px;
   font-size: 20px;
   float: right;
   right: 50px;
}
.bitcoin3{
   position:relative;
   top:160px;
   font-size: 20px;
   float: right;
   right: -41px;
}
.fourth_div{
   position: absolute;
   left: -630px;
   top: 130px;
   width: 440px;
   height: 250px;
   background-color: white;
   margin: 250px 735px;
}


.text{
   position: relative;
   font-size: small;
   left: 10px;
}
.text span{
   position: relative;
   float: right;
   right: 40px;
   top:-15px
}

.div5{
   position: absolute;
   left: 30px;
   top:396px;
   width: 430px;
   height: 250px;
   background-color:white;
}
.week{
   position: absolute;
   left: 35px;
   bottom: 21px;
   font-size: 20px;
}
.year{
   position: absolute;
   left: 180px;
   bottom: 21px;
   font-size: 20px;
}
.time{
   position: absolute;
   right: 35px;
   font-size: 20px;
   float: right;
   bottom: 21px;

}
.img4{
   position: relative;
   left: 10px;
   top: 10px;
   width: 419px;
   height: 126px;
}
.five_div{
   position: absolute;
   left: 308px;
   top:130px;
   width: 430px;
   height: 250px;
   background-color:white;
   margin:250px;

}
.six_div{
   position: absolute;
   left: 750px;
   top:130px;
   width: 437px;
   height: 250px;
   background-color: white;
   margin:250px;
}
.seven_div{                                                          
   position: absolute;
   left: 5px;
   top:350px;
   width: 883px;
   height:250px;
   background-color:white;
   margin:290px 100px;
   
}
.img8{
   position: relative;
   left: 30px;
   margin: 5px;
   padding:10px;
   width: 800px;
   height: 220px;
}
.eight_div{
   position: absolute;
   left: 710px;
   top:350px;
   width: 437px;
   height:250px;
   background-color:white;
   margin:290px;
}
.jan{
   position: absolute;
   left: 20px;
   font-size: 25px;

}
.feb{
   position: absolute;
   top: 20px;
   float: right;
   right: 45px;
   background-color: lightgray;
   color: rgb(223, 6, 136);
   border-radius: 5px;
   border-color: lightgray;
   font-size: 20px;
   font-weight: bold;
   
}
.apr{
   position: absolute;
   left: 30px;
   top:50px;
   font-size: 20px;

}
.apr span{
   position: absolute;
   float: right;
   right: -310px;
}
.may{
   position: absolute;
   left: 30px;
   top:120px;
   font-size: 20px;

}
.may span{
   position: absolute;
   float: right;
   right: -310px;
}
.june{
   position: absolute;
   left: 30px;
   top:180px;
   font-size: 20px;

}
.june span{
   position: absolute;
   float: right;
   right: -310px;
}
#sidebar2{
   position: absolute;
   top: 0;
   bottom: 0;
   right: 22px;
   width: 424px;
   height: 900px;
   background-color: paleturquoise;
   margin-top: 20px;
   
}
.last{
   position: relative;
   top: 20px;
   left: 20px;
   width: 110px;
   height: 110px;
}
.sun{
   position: absolute;
   right: 50px;
   top: 49px;
   font-size: 22px;
}
.sun span{
   font-size: 18px;
   color:rgb(223, 6, 136) ;
}
.mon{
   position: relative;
   top: 27px;
   left: 20px;
   font-size: 20px;
}
.last1{
   position: relative;
   left: 20px;
   top: 49px;
   font-size: 20px;
}
.last1 span{
   color: gray;
   font-size: 17px;
}
.last2{
   position: relative;
   left: 20px;
   font-size: 20px;
}
.last2 span{
   color: gray;
   font-size: 17px;
}
.last3{
   position: relative;
   left: 20px;
   font-size: 20px;
}
.last3 span{
   color: gray;
   font-size: 17px;
}
.sidebar_button{
   position: relative;
   top: 18px;
   left: 36px;
   /* right: -30px; */
   font-size: 25px;
}
.sidebar_button span button{
   background-color: lightgray;
   color: rgb(223, 6, 136);
   border-color: lightgray;
   border-radius: 5px;
   font-weight: bold;
   position: relative;
   left: 209px;
   font-size: 20px;
}
.price1{
   position: absolute;
   left: 30px;
   bottom:360px;
   font-size: 30px;
}
.price2{
   position: absolute;
   left: 30px;
   bottom:300px;
   font-size: 30px;
}
.pink{
   position: absolute;
   bottom: 21px;
   left: 17px;
   border: 1px;
   background: linear-gradient( 90deg, rgb(239, 12, 167) 0%, rgb(202, 94, 157) 100%);
   width: 390px;
   height: 229px;
}
.pink img{
   position: relative;
   width: 148px;
   height: 141px;
   left: 136px;
   top: -51px;
}
.white{
   position: relative;
   text-align: center;
   top:-50px;
   left: 5px;
   color: white;
}
.pink button{
   background-color: rgb(174, 102, 161);
   color: white;
   border-color: white;
   border-radius: 5px;
   font-size: 20px;
   position: absolute;
   left: 123px;
   bottom: 10px;
}

